@font-face {
    font-family: GothamBold;
    src: url('./GothamBold.ttf');
}
.background-login{
    -fx-background-color: linear-gradient(to top, #1e1e1e, #303030);
}

.button-sign-up-bg{
    -fx-background-color: #1fd660;
    -fx-background-radius: 100;
}
.button-log-in-bg{
    -fx-background-color: rgba(255, 255, 255, .0);
    -fx-border-color: #666666;
    -fx-border-radius: 100;
}

.main-nav-bar{
    backdrop-filter: blur(10px);
    -fx-background-color: linear-gradient(to top, #1e1e1e, #30303000);
}

.album-image{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 60, 0, 0, 0);
}
.album-bg{
    -fx-background-color: linear-gradient(to bottom, #98050599, #30303000);
}

.music-initial-pop-up{
    -fx-background-color: rgb(82, 128, 182);
    -fx-background-radius: 5;
}
.music-nav-bar{
    backdrop-filter: blur(10px);
    -fx-background-color: linear-gradient(to top, #000000, #22222200);
}
